.warningBanner{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    background-color: #ff0062;
    padding: 4px 16px;
}