.intro{
    font-family: "Airbnb Cereal App Bold";
    font-size: 30px;
    text-align: center;
    padding: 20px;
    @media (min-width: 768px) {
        padding: 60px 0px;
        font-size: 50px;
    }
}

.buttonLabel{
    font-family: "Airbnb Cereal App Book";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    @media (min-width: 768px) {
        font-size: 18px;
    }
}
