.selectContainer{
    color:white;
    width:100%;
    margin: 2px;
    padding-top: 10px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.networkRow{
    border: 1px solid rgba(101, 95, 95, 0.5);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #00001E;
    height: 72px;
    font-size: 12px;
    @media (min-width: 768px) {
        font-size: 12px;
        height: 86px;
    }
    @media (min-width: 992px) {
        font-size: 14px;
    }
}

.networkRowRadius{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.selectColumn{
    height: 100%;
}
.selectColumnRow{
    height: 100%;
}

.selectArrows{
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color: #14142E;
    border-top-right-radius: 12px;
}

.selectArrowsRadius{
    border-bottom-right-radius: 12px;
}

.connectedLabel{
    margin: 0px 2px;
    font-family: "Airbnb Cereal App Bold";
    color: #14FFC6;
    font-size: 10px;
    display: none;
    @media (min-width: 992px) {
        display:block;
        font-size: 14px;
    }
}

.connectedIcon{
    width: 20px;
}

.connectedCheck{
    margin: 0px 2px;
}

.optionContainer{
    background-color: #14142E;
    border: 1px solid rgba(101, 95, 95, 0.5);
    border-top: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    top: 100%; 
    left: 0px;
    right: 0px;
    display: flex;
    z-index: 10;
    cursor:pointer;
    height: 72px;
    font-size: 12px;
    @media (min-width: 992px) {
        font-size: 14px;
    }
}