.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    @media (min-width: 768px) {
        padding: 20px 36px 36px 36px;
    }
    background-color: #00001e;
}

.logo{
    width: 70%;
    @media (min-width: 768px) {
        width: 100%;
    }
}

.hamburger{
    cursor: pointer;
    fill: white;
    &:hover {
        fill: #14FFC6;
    }
}

.capsContainer{
    background: #14142E;
    border-radius: 100px;
    padding: 0px 25px;
}

.capsAmount{
    font-size: 14px;
    font-family: "Airbnb Cereal App Bold";
    background: linear-gradient(90deg, #FF8500 0%, #FF0062 32.78%, #CB06ED 67.12%, #004FFF 99.9%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
}

.capsAvailable{
    font-style: normal;
    font-size: 10px;
    color: rgba(242, 236, 236, 0.6);
    margin-left: 10px;
    vertical-align: middle;
    display: none;
    @media (min-width: 992px) {
        display:block
    }
}

.providerContainer{
    padding: 0px 30px;
}

.address{
    font-family: "Airbnb Cereal App Bold";
    font-size: 14px;
    color: #9C9CBA;
}

.network{
    font-size: 10px;
}

.logoutContainer{
    position: absolute;
    height: 30px;
    width: 155px;
    background-color: #14142E;
    border-radius: 5px;
    display:flex;
    align-self: center;
    justify-content:center;
    font-size: 14px;
    margin-top: 10px;
    cursor:pointer;
    &:hover{
        background-color: rgba(255,133,0, 0.2);
    }
}
.logoutButton{
    height: 100%;
    &:hover{
        background: linear-gradient(90deg, #FF7F05 0%, #FF204B 99.9%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.settingContainer{
    background: #14142E;
    border-radius: 100px;
    display:flex;
}

.settingIcon{
    vertical-align: middle;
    cursor: pointer;
}