.modalContainer{
    position: fixed;
    height: 100%;
    width: 250px;
    right: 0px;
    top: 0px;
    padding: 24px 24px;
    background-color: #14142E;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display:flex;
    flex-direction: column;
    z-index: 100;
    @media (min-width: 768px) {
        display: none;
    }
}

.capsAmount{
    font-size: 24px;
    line-height: 30px;
    font-family: "Airbnb Cereal App Bold";
    background: linear-gradient(90deg, #FF8500 0%, #FF0062 32.78%, #CB06ED 67.12%, #004FFF 99.9%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
}

.capsAvailable{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    opacity: 0.4;
}

.network{
    font-size: 12px;
    color: #fff;
    opacity: 0.4;
}

.address{
    font-size: 14px;
    color: #fff;
}

.menuLabel{
    padding-left: 8px;
}

.closeButton{
    cursor: pointer;
}