
// ONLY to override Bootstrap

// Default color
//$primary: #CB06ED;
//$secondary: #14FFC6;


$body-bg: #00001e;
$body-color: white;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Include all of Bootstrap
// After this line you can custom all boostrap classes
@import "~bootstrap/scss/bootstrap.scss";


.btn {
	&-outline {
		&-primary {
			font-family: "Airbnb Cereal App Light", sans-serif;
			color: white;
			transition: all 0.2s;
			box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
			border: solid 2px transparent;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                linear-gradient(101deg,  #ff8500, #ff0062, #cb06ed, #004fff);
			background-origin: border-box;
			background-clip: content-box, border-box;
			box-shadow: 2px 1000px 1px #00001e inset;
			&:hover {
				box-shadow: none;
				border: solid 2px transparent;
			}
		}
	}
}

